.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

image {
  width: 200px;
  height: 200px;
}

/* .pokemon-card {
  border: 1px solid black;
  margin: 20px;
  width: 250px;
} */
