.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

image {
  width: 200px;
  height: 200px;
}

.bottom-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* .pokemon-card {
  border: 1px solid black;
  margin: 20px;
  width: 250px;
} */
